# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# Build
dist/
build/
frontend/dist/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
